<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BY水性厚质低处理防腐涂料</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <div class="logo">
        <img src="/image/3_05_05.jpg"/>
    </div>
    <div class="company_name">
        <img src="/image/3_05_06.jpg"/>
    </div>
</div>
<div class="navigation">
    BY水性厚质低处理防腐涂料
</div>
<div class="main">
    <div class="main_content">
        <p class="headline">商品描述:</p>
        <br class="describe">
            BY0-1水性厚质低处理防腐涂料
            <br>
            BY水性厚质低表面处理防腐涂料（BY01）是本公司的独创发明技术，该涂料是由高分子聚合物与特种粉剂所组成的双组份现场拌合型防腐涂料。
            本产品可刷涂、滚涂、和机械喷涂施工。
        </p>
        <p class="headline">一、用途</p>
        <table>
            <tr>
                <td>●  石油、化工、钢铁等设施及管道外壁防腐。</td>
                <td>●  输水设备及管道外壁防腐。</td>
            </tr>
            <tr>
                <td>●  沿海和海洋设施防腐。</td>
                <td>●  交通道路（桥梁、铁路、公路、高铁）等工厂钢结构厂房内用和外用。</td>
            </tr>
            <tr>
                <td>●  市政设施、电力设备和矿井等钢铁构架及门窗护栏防腐。</td>
                <td>●  木质结构、混凝土结构及其他材料基础的防腐工程。</td>
            </tr>
        </table>
        <p class="headline">二、主要特点</p>
        <table>
            <tr><td>●  毫米级有机图层，标准图层厚度为1.0mm（水中及土壤填埋部位涂层厚度为1.5mm - 2.0mm）。</td></tr>
            <tr><td>●  耐中性盐雾通过5000小时测试，可在C5-I（工业）、C5-M（海洋）、Im2、Im3等腐蚀等级很高的环境中使用。</td></tr>
            <tr><td>●  耐腐蚀性优异，酸碱盐有机溶剂等化学腐蚀环境中均可在一定情况下使用，具体见技术指标。</td></tr>
            <tr><td>●  耐候性好，适用性广泛，可满足在中国境内各种气候区域内使用。可在重腐蚀性气态环境、微腐蚀液态中、腐蚀性土壤中实施防腐。</td></tr>
            <tr><td>●  可在钢材表面具备St2情况下进行涂装（钢材两面应无可见油脂污垢，并且没有附着不牢的氧化皮，铁锈和油漆等附着物），大幅降低了锈腐蚀基面除锈清理的难度，从而有效降低了除锈清理成本。</td></tr>
            <tr><td>●  水性环保产品，存储，施工及长期使用过程均不会对环境构成污染。</td></tr>
            <tr><td>●  通过B1级耐火等级测试，适应于高危火险环境的施工及使用。</td></tr>
            <tr><td>●  与BY-02型水性装饰涂料配套，可将防腐涂层装饰成彩色涂层。</td></tr>
        </table>
        <p class="headline">三、BY-1水性厚质表面处理防腐涂料主要技术指标</p>
        <table class="table_text">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>实验项目</th>
                    <th>技术指标</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>低温柔度</td>
                    <td>-30℃无裂纹</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>不透水性，0.2MPa，30min</td>
                    <td>0.2MPa</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>水泥砂浆粘结强度，MPa，≥</td>
                    <td>0.6MPa</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>钢板粘结强度，MPa，≥</td>
                    <td>0.6MPa</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>耐水性</td>
                    <td>168h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>耐热性</td>
                    <td>在90℃下烘168h后，不气泡，不起皱</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>耐酸性（20g/L H₂SO₄）</td>
                    <td>168h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>耐酸性（50g/L NaON）</td>
                    <td>168h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>耐盐水性</td>
                    <td>168h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>工业乙醇</td>
                    <td>168h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>耐中性盐雾NSS</td>
                    <td>1000h不气泡，不脱落，无裂痕，无锈蚀</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>人工加速老化试验（紫外线老化1000h）</td>
                    <td>无粉化，粉化等级评定：0级<br>色差值（NBS）：2.48、2.71、2.29、2.41、2.20<br>变试板表面无起泡、无剥落、无裂纹。</td>
                </tr>
            </tbody>
        </table>
        <p>
            BY-02水性装饰涂料，是由本公司定向研发的特种高分子树脂乳胶和无机盐填料组成的彩色涂料，该涂料具有多种复合功能，涂膜具有超强的耐刷性和耐候性。
        </p>
        <p class="headline">一、用途</p>
        <table>
            <tr><td>●  作为BY-01水性厚质低表面处理防腐涂料，配套的彩色表面彩色装饰涂料。</td></tr>
            <tr><td>●  当涂层厚度达到200微米以上，可用于有环境腐蚀条件下钢结构的彩色装饰。</td></tr>
            <tr><td>●  当涂层厚度达到300微米以上，可用于有环境腐蚀条件下混凝土立面、斜面（无长期存水面）的装饰、防水一体化施工。</td></tr>
        </table>
        <p class="headline">二、主要特点</p>
        <table>
            <tr>
                <td>●  超强耐刷洗</td>
                <td>●  超强耐候性</td>
                <td>●  有一定的耐水性，抗龟裂架桥能力强</td>
            </tr>
            <tr>
                <td>●  有憎水性和雨水冲刷下的自洁功能</td>
                <td>●  粘接力强</td>
                <td>●  耐碱、耐盐、耐冻融、耐酸雨，抗紫外线老化能力强，色彩稳定性好</td>
            </tr>
            <tr><td colspan="3">●  可喷涂、刷涂、滚涂</td></tr>
        </table>
        <p class="headline">三、BY-02特种彩色涂料主要指标</p>
        <table class="table_text">
            <thead>
                <tr>
                    <th>检测项目</th>
                    <th>技术要求</th>
                    <th>检测结果</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>固含量，%，≥</td>
                    <td>55</td>
                    <td>58.0</td>
                </tr>
                <tr>
                    <td>干燥时间（表干），h≤</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>耐沾污性（白色和浅色）%，≤</td>
                    <td>20</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>耐洗刷性，次≥</td>
                    <td>7500</td>
                    <td>30000次，漆膜无异常</td>
                </tr>
                <tr>
                    <td>涂膜硬度≥</td>
                    <td>HB</td>
                    <td>H</td>
                </tr>
                <tr>
                    <td rowspan="4">人工加速老化试验（疝气老化2000h）</td>
                    <td>不起泡、不剥落、无裂纹</td>
                    <td>试板表面无起泡、无剥落、无裂纹</td>
                </tr>
                <tr>
                    <td>粉化，级，≤1</td>
                    <td>无粉化，粉化等级评定：0级</td>
                </tr>
                <tr>
                    <td>变色，级，≤2</td>
                    <td>色差值（NBS）：0.65、0.52、0.57、0.64、0.66<br>变色等级评定：0级</td>
                </tr>
                <tr>
                    <td>失光，级，≤2</td>
                    <td>失光率：9.4%，失光等级评定：1级</td>
                </tr>
                <tr>
                    <td>人工加速老化试验（紫外线老化1000h）</td>
                    <td>/</td>
                    <td>无粉化，粉化等级评定：0级<br>色差值（NBS）:1.49、0.96/1.16/1.67/1.39<br>变色等级评定：1级<br>试板表面无起泡、无剥落、无裂纹</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>