<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEAC混凝土装饰涂料 LEAC-24</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <div class="logo">
        <img src="/image/3_04_05.jpg"/>
    </div>
    <div class="company_name">
        <img src="/image/3_04_06.jpg"/>
    </div>
</div>
<div class="navigation">
    LEAC混凝土装饰涂料 LEAC-24
</div>
<div class="main">
    <div class="main_content">
        <p class="headline">商品描述:</p>
        <p class="describe" style="white-space: initial">
            LEAC混凝土装饰涂料研发应用始于2005年，是专门为2008年北京奥运会立交桥粉刷装饰而研制，2014年用于天安门城楼的大修粉刷装饰。产品原名称RG混凝土特种装饰涂料（RG-24）。
            是一种由特制丙烯酸树脂乳液和无机盐填料组成的高弹性彩色涂料。涂膜具有良好气透性、憎水性和自洁功能。浆料对混凝土等多孔表面渗透性好，与基材粘接力极强。涂膜
            具有优良的耐腐蚀性，即使长期浸泡于饱和盐、碱环境中，也不易起皮、脱落或鼓包。具有优良的紫外线稳定性、保色性和耐刷性。ＬＥＡＣ涂料主要技术指标同时达到或超过外装饰涂料和防水涂料行业标准。
        </p>
        <p class="headline">一、主要用途</p>
        <table>
            <tr>
                <td>●  外墙、屋面装饰。</td>
            </tr>
            <tr>
                <td>●  桥梁、隔离屏障、机器底座、隧道等振动大的建筑装饰防水。</td>
            </tr>
            <tr>
                <td>●  易受海水盐雾腐蚀的沿海建筑和桥梁钢结构装饰防腐。</td>
            </tr>
            <tr>
                <td>●  石油管道、油罐或化学储罐的外部防腐装饰。</td>
            </tr>
        </table>
        <p class="headline">二、主要特点</p>
        <table>
            <tr>
                <td>●  水性环保产品，无毒无害。</td>
            </tr>
            <tr>
                <td>●  同时达到或超过外装饰涂料和防水涂料主要技术指标，具有装饰、防水和防腐三重功能。</td>
            </tr>
            <tr>
                <td>●  具有呼吸性，允许内部潮气排除，同时阻止外部流水渗入。涂膜有憎水性和自洁功能。</td>
            </tr>
            <tr>
                <td>●  浆料渗透性好、粘接力强，涂膜不易起皮、脱落或鼓泡，耐刷洗。</td>
            </tr>
            <tr>
                <td>●  极高的柔韧性，抗龟裂架桥能力强。</td>
            </tr>
            <tr>
                <td>●  耐碱、耐盐、耐冻融、耐酸雨、抗紫外线能力强，色彩稳定。</td>
            </tr>
            <tr>
                <td>●  可喷涂、滚涂、刷涂。</td>
            </tr>
        </table>
        <p class="headline">三、主要技术指标</p>
        <table class="table_text">
            <thead>
            <tr>
                <th>项目</th>
                <th>指标</th>
                <th>实测值</th>
                <th>参考标准</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>固含量，%，≥</td>
                <td>55</td>
                <td>64</td>
                <td>GB/T16777-2008</td>
            </tr>
            <tr>
                <td rowspan="2">在容器中状态</td>
                <td colspan="3">无硬块，搅拌混合后呈均匀状态</td>
            </tr>
            <tr>
                <td colspan="3">无硬块，搅拌混合后呈均匀状态</td>
            </tr>
            <tr>
                <td>施工性</td>
                <td>刷涂二道无障碍</td>
                <td colspan="2">刷涂二道无障碍</td>
            </tr>
            <tr>
                <td>低温稳定性</td>
                <td>不变质</td>
                <td colspan="2">不变质</td>
            </tr>
            <tr>
                <td>涂膜外观</td>
                <td>正常</td>
                <td colspan="2">不变质</td>
            </tr>
            <tr>
                <td>干燥时间（表干），h，≤</td>
                <td>2</td>
                <td colspan="2">1</td>
            </tr>
            <tr>
                <td>对比率（白色和浅色）≥</td>
                <td>0.87</td>
                <td colspan="2">0.96</td>
            </tr>
            <tr>
                <td>耐碱性，96h</td>
                <td>无异常</td>
                <td colspan="2">无异常</td>
            </tr>
            <tr>
                <td rowspan="2">耐碱刷洗，次≥</td>
                <td>4000</td>
                <td>4000次涂膜无异常</td>
                <td>GB/T9755-2014</td>
            </tr>
            <tr>
                <td>不起泡、不剥落、无裂纹</td>
                <td colspan="2">不起泡、不剥落、无裂纹</td>
            </tr>
            <tr>
                <td>耐人工老化性，白色和浅色，250h</td>
                <td>粉化，≤1级，变色</td>
                <td colspan="2">粉化，0级，变色2级</td>
            </tr>
            <tr>
                <td>耐沾污性（白色和浅色）%，≤</td>
                <td>20</td>
                <td colspan="2">15</td>
            </tr>
            <tr>
                <td>涂层耐温变性（5次循环）</td>
                <td>无异常</td>
                <td colspan="2">无异常</td>
            </tr>
            <tr>
                <td>涂层耐盐水性（盐水和热盐水浸泡法），21d</td>
                <td>无异常</td>
                <td colspan="2">GB/T10834-2008</td>
            </tr>
            <tr>
                <td>涂膜硬度，≥</td>
                <td>HB</td>
                <td>HB</td>
                <td>GB/T6739-2996</td>
            </tr>
            <tr>
                <td>水蒸气透过性能，水法，g/(㎡·h)，≥</td>
                <td>0.4/2.8</td>
                <td>HB</td>
                <td>GB/T17146-1997</td>
            </tr>
            <tr>
                <td rowspan="2">拉伸性能，28d</td>
                <td>拉伸强度，Mpa,≥3.0</td>
                <td colspan="2">3.2</td>
            </tr>
            <tr>
                <td>断裂伸长率，%，≥100</td>
                <td>158</td>
                <td>GB/T23445-2009</td>
            </tr>
            <tr>
                <td>低温柔度，10mm棒</td>
                <td colspan="3">-5℃，无裂纹</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>