<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <div class="logo">
        <img src="/image/3_03_05.jpg"/>
    </div>
    <div class="company_name">
        <img src="/image/3_03_06.jpg"/>
    </div>
</div>
<div class="navigation">
    LEAC聚合物砂浆 LEAC-13
</div>
<div class="main">
    <div class="main_content">
        <p class="headline">商品描述:</p>
        <p class="describe">
            LEAC聚合物砂浆（LEAC-13）是由特制的水泥基粉剂和LEAC-100CS高分子乳液组成的一种集抗渗、防漏、轻防腐为一体的双组份防水材料，具有极佳的抗渗性、粘结性和耐冻性，并且其膨
            胀系数与混凝土高度一致，因而用本产品施工的工程耐久性极好。产品研发应用始于2000年，原产品名称RG聚合物防水防腐砂浆。产品主要用于防水防漏、防护修复、轻度防腐。
        </p>
        <p class="headline">一、主要用途</p>
        <table>
            <tr>
                <td>●  厕浴间、地下室新建或维修防水。</td>
                <td>●  隧道、桥梁、地下管线。</td>
                <td>●  建筑材料粘接、混凝土结构修复。</td>
            </tr>

            <tr>
                <td>●  污水处理工程、化粪池、沼气池。</td>
                <td>●  水库大坝、各种输、排水管道。</td>
                <td>●  海港与轮船的防水防腐。</td>
            </tr>
        </table>
        <p class="headline">一、主要特点</p>
        <table>
            <tr>
                <td>●  抗渗能力强，可在深水压力大的背水面防水施工。</td>
                <td>●  粘结力强，对混凝土、砖石、钢铁、聚苯板、玻璃等常用建材均有极好的粘结能力。</td>
            </tr>

            <tr>
                <td>●  早期及后期强度高，耐振动、抗碾压、抗冲击。</td>
                <td>●  抗冻性好，100次冻融循环强度和重量无损失。</td>
            </tr>

            <tr>
                <td>●  耐腐蚀、抗碳化、抗氧离子渗透，可有效保护钢筋。</td>
                <td>●  环保型产品，可用于饮水工程。</td>
            </tr>
        </table>
        <p class="headline">三、主要技术指标</p>
        表5主要技术指标（执行标准JC/T 984-2011[II型]）
        <table class="table_text">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>检验项目</th>
                    <th>标准要求</th>
                    <th>检验结果</th>
                    <th>单项判定</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>初凝，min</td>
                    <td>≥45</td>
                    <td>315</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>终凝，h</td>
                    <td>≤24</td>
                    <td>9.5</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>抗渗压力（涂层试件），MPa</td>
                    <td>≥0.5</td>
                    <td>0.7</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>7d抗渗压力（砂浆试件），MPa</td>
                    <td>≥1.0</td>
                    <td>1.2</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>抗压强度，MPa</td>
                    <td>≥24.0</td>
                    <td>25.6</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>抗折强度，MPa</td>
                    <td>≥8.0</td>
                    <td>9.5</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>柔韧性（横向变形能力），mm</td>
                    <td>≥1.0</td>
                    <td>1.5</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>7d粘接强度，MPa</td>
                    <td>≥1.0</td>
                    <td>1.2</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>耐碱性</td>
                    <td>无开裂、脱落</td>
                    <td>无开裂、脱落</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>耐热性</td>
                    <td>无开裂、脱落</td>
                    <td>无开裂、脱落</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>抗冻性</td>
                    <td>无开裂、脱落</td>
                    <td>无开裂、脱落</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>收缩率，%</td>
                    <td>≤0.15</td>
                    <td>0.09</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>吸水率，%</td>
                    <td>≤4.0</td>
                    <td>2.6</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>28d粘结强度，MPa</td>
                    <td>≥1.2</td>
                    <td>1.4</td>
                    <td>符合</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>28d抗渗压力（砂浆试件），MPa</td>
                    <td>≥1.5</td>
                    <td>1.8</td>
                    <td>符合</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>