<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--这个页面开发过了-->
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <div class="logo">
        <img src="/image/3_04_05.jpg"/>
    </div>
    <div class="company_name">
        <img src="/image/3_04_06.jpg"/>
    </div>
</div>
<div class="navigation">
    LEAC混凝土装饰涂料 LEAC-24
</div>
<div class="main">
    <div class="main_content">
        <p class="headline">商品描述:</p>
        <p class="describe">
            LEAC聚合物砂浆（LEAC-13）是由特制的水泥基粉剂和LEAC-100CS高分子乳液组成的一种集抗渗、防漏、轻防腐为一体的双组份防水材料，具有极佳的抗渗性、粘结性和耐冻性，并且其膨
            胀系数与混凝土高度一致，因而用本产品施工的工程耐久性极好。产品研发应用始于2000年，原产品名称RG聚合物防水防腐砂浆。产品主要用于防水防漏、防护修复、轻度防腐。
        </p>
        <p class="headline">一、主要用途</p>
    </div>
</div>
</body>
</html>