<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司简介</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style type="text/css">
        p{
            text-indent:2em;
            font-size: 16px;
            line-height: 32px;
        }
    </style>
</head>
<body>
<div class="top">
    <img src="/image/3-02-a_01.jpg">
</div>
<div class="navigation">
    公司简介
</div>
<div class="main">
    <div class="main_content">
        <p>河北天顺祥建筑装饰工程有限公司创建于2016年7月，系股份制企业。现公司注册资金600万元，拥有防水防腐保温专业承包二级资质，并具备安全生产许可资格。公司拥有一批有技术职称的专业技术人员，在防水施工中技术精湛，属于多年技术骨干;管理人员配备齐全，具有丰富的管理经验。公司具备完善的施工体系和管理制度。</p>
        <p>我公司专业从事防水施工，承接卫生间防水、屋面防水、楼面防水、外墙防水、地下室防水等各部位的防水补漏工程，配有先进的堵漏防水施工机械设备。公司前身于1998年成立燕京防水防腐服务中心，经历了十余年的发展积累了丰富的施工技术经验和广泛的客户资源，取得了广大客户的信赖。为壮大企业发展，提供给客户更好的服务，特成立河北天顺祥建筑装饰工程有限公司。</p>
        <p>公司多年来积累了丰富的防水防腐施工经验，在堵漏工艺方面采用的是目前国内专业从事防水专用乳液聚合和聚合物水泥防水材料生产的一体化专业企业研制生产的LEACTM丙烯酸聚合物水泥防水涂料。该产品是国内此类材料中技术先进、市场占有率大、应用广泛的产品，由中国核工业北京地质研究院研制，拥有“中国环境标志认证（绿色十环标志）”，被工业和信息化部、国防科工局列入军用技术转民用十大重点推广项目。我公司作为LEAC防水材料在唐山、承德、雄安新区的唯一指定代理商，从1998年到现在在使用中受到了该地区房地产、物业、建筑材料经营商和同行们给予的一致好评。更重要的是我们承诺质保15年维修！！</p>
        <p>公司领导经多年经验积累和技术探索，还总结了一整套传统与现代工艺相结合的防水堵漏的方法，能针对不同情况正确选材合理施工（迎水、背水均可施工），达到彻底止水之目的；更擅长疑难渗漏的修补，防水堵漏治标又治本，免除旧屋面不断翻新之苦及家中漏水之愁，得到了业主和社会的广泛认可。在LEAC防水材料的应用上，由于该产品众多独特的优势，为我们的施工提供了可靠的保障！俗话说：巧妇难为无米之炊，拥有优良的产品和精湛的技术才是我们制胜的法宝！</p>
        <p>口号喊再响，不如实干强！公司始终本着：＂诚实经营，道德经商，缔造经典，追求完美＂的经营宗旨。始终坚持以一流的管理，一流的品质，一流的服务，不断进行突破,不断塑造完美的服务理念，打造高质量的客户体验，去赢取广大客户和朋友的支持和美誉！</p>
    </div>
</div>
</body>
</html>