<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <img src="/image/3-02-a_01.jpg">
</div>
<div class="navigation">
    公司简介
</div>
<div class="main">
    <div class="main_content">
        <p class="describe" style="font-size: 25px">
            河北天顺祥建筑装饰工程有限公司创建于2016年7月,系股份制企业。现公司注册资金600万元,拥有防水专业承包二级资质,并具备安全生产许可资格。公司拥有一批有技术职称的专业技术人员,在防水施工中技术精湛,属于多年技术骨干;管理人员配备齐全,具有丰富的管理经验。公司具备完善的施工体系和管理制度。
            我公司专业从事防水施工,承接卫生间防水、屋面防水、楼面防水、外墙 防水、地下室防水等各部位的防水补漏工程,配有先进的堵漏防水施工机械设 备。公司前身是燕京防水防腐维修部,经历了十余年的发展积累了广泛的的客 户资源,取得了广大客户的信赖。为壮大企业发展,提供给客户更好的服务 成立了河北天顺祥建筑装饰工程有限公司。
            公司多年来积累了丰富的防水防腐施工经验,在堵漏工艺方面采用的是目 前国内专业从事防水专用乳液聚合和聚合物水泥防水材料生产的一体化专业企 业生产的 LEACTM丙烯酸聚合物水泥防水涂料。该产品是国内此类材料技术先 进、市场占有率大、应用广泛的产品,由中国核工业北京地质硏究院硏制,拥 有“中国环境标志认证(绿色十环标志)”,被工业和信息化部、国防科工局 列入军用技术转民用十大重点推广项目。我公司作为本产品在唐山、承德的唯 指定代理商,产品在使用中受到了该地区房地产、物业、建筑材料经营商和 同行们给予的一致好评。
        </p>
    </div>
</div>
</body>
</html>