<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>质量保证</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style type="text/css">
        p{
            font-size: 20px;
            text-indent: 2em;
            line-height: 28px;
        }
    </style>
</head>
<body>
<div class="top">
    <img src="/image/3-03-a_01.jpg">
</div>
<div class="navigation">
    质量保证
</div>
<div class="main">
    <!--<div class="main_content">
        <h1> 我们承诺:国家《建设工程质量管理条例》规定防水质保5年,我们能做到<p style="display: contents;font-size: 70px">质保15年</p></h1>
        <p class="describe" style="text-indent:2em;font-size: 25px;font-weight: 800">
            公司领导经多年经验积累和技术探索,还总结了一整套传统与现代工艺相结合的堵漏防水的方法,能针对不同情况正确选材合理施工,达到彻底止水之目的;更擅长疑难渗漏的修补,防水堵漏治标又治本,免除旧屋面不断翻新之苦及家中漏水之愁,得到了业主和社会的广泛认可。我公司以质量作为企业的生命,所有工程交工后都进行定期巡回检查和雨后的检査,至今未发现漏水现象和质量异 议,用户可免除后顾之忧。
        </p>
        <h1 style="color: red"> 公司标语:“没有金刚钻,不揽瓷器活!”</h1>
        <p class="describe" style="font-size: 25px;font-weight: 800"> 口号喊再响,不如实干强!公司始终本着:"诚实经营,道德经商,缔造经典,追求完美"的 经营宗旨。始终坚持以一流的管理,一流的品质,一流的服务,不断进行突破,不断塑造完美的服务理念,打造高质量的客户体验,去赢取广大客户和朋友的支持和美誉!</p>
    </div>-->


    <div class="main_content">
        <!--<h2 style="color: red">我们质保15年</h2>-->
        <h1>我们承诺:国家《建设工程质量管理条例》规定防水质保5年,我们能做到<p style="font-size: 70px">质保15年</p></h1>
        <p>公司领导经多年经验积累和技术探索，总结了一整套传统与现代工艺相结合的防水堵漏的方法，能针对不同情况正确选材合理施工（迎水、背水均可施工），达到彻底止水之目的；更擅长疑难渗漏的修补，防水堵漏治标又治本，免除旧屋面不断翻新之苦及家中漏水之愁；在LEAC防水材料的应用上，由于该产品耐酸碱、耐高温、耐紫外线、防火等级一级、食品级环保等众多独特的优势，在新旧屋面、人防工程、饮用蓄水池、地下车库顶板等重点部位防水防腐均为国内领先材料，为我们的施工提供了可靠的保障！由此也得到了业主和社会的广泛认可。俗话说：巧妇难为无米之炊，拥有优良的产品和精湛的技术才是我们制胜的法宝！</p>
        <p>我公司以质量作为企业的生命，所有工程交工后都进行定期巡回检查和雨后的检查，至今未发现漏水现象和质量异议，用户可免除后顾之忧。</p>
        <p>公司标语：</p>
        <p style="font-size: 22px;font-weight: 600;color: red">"没有金刚钻，不揽瓷器活！建筑不拆，防水不漏!"</p>
    </div>
</div>
</body>
</html>