<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们的成绩</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <img src="/image/3-06-a_01.jpg">
</div>
<div class="navigation">
    我们的成绩
</div>
<div class="main">
    <div class="main_content">
        <h3 style="text-align: center">
            2015年被<p style="color: red;display: inline">国家工信部、国防科工局</p>共同评定为中国<p style="color: red;display: inline">“军用技术转民用”</p><br>十大重点推广项目，给出了技术水平<p style="color: red;display: inline">“国际领先”</p>的评价。
        </h3>
        <p style="text-indent: 2em">
            研究院为该技术累计投入研发费用已经累计超过3700万元。完成率13000多个优化配方等测试工作。形成了配方、工艺、设备三位一体的技术体系，使产品综合物理力学指标始终保持国际领先水平。多次为我国军事工程、重点工程解决疑难问题。
        </p>
        <p style="text-indent: 2em">目前已形成年产20000吨的产能，正在筹建年产15万吨的生产基地。</p>
    </div>
</div>
</body>
</html>