<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>防水体系的性能</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="top">
    <img src="/image/3-07-a_01.jpg">
</div>
<div class="navigation">
    防水体系的性能
</div>
<div class="main">
    <div class="main_content">

        <p style="text-indent: 2em">
            RG防水体系由于多项技术的独特性，2007年编制出版了专用国际设计图案。
        </p>
        <p style="text-indent: 2em">
            RG防暑体系以其出色环保性能，2009年首批通过环保部环境标志（绿色十环认证）。
        </p>
        <p style="text-indent: 2em">
            RG防水体系以其质量上可靠的稳定性，2009年在行业中第一批纳入中国政府采购清单。
        </p>
    </div>
</div>
</body>
</html>