<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建筑防水产品根本形态</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style type="text/css">
        .trait{
            width: 100%;
            height: 200px;
            /*background-color: red;*/
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            margin-right: 10px;
            font-weight: 600;
        }
        .trait div{
            border: solid 1px #000;
            width: 468px;
        }
        .trait div p{
            line-height: 24px;
            padding-left: 4px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="top">
    <img src="/image/3-08-a_01.jpg" >
</div>
<div class="navigation">
    建筑防水产品根本形态
</div>
<div class="main">
    <div class="main_content">

        <p style="text-indent: 2em">
            中核集团北京北研科技发展有限公司目前在全国三千多家防水生产企业中，隶属于核工业北京地质研究院，是唯一一家中央直属军工技术转民用生产的国有企业。LEAC防水涂料（原中核集团驰名商标RG防水涂料，由于市场假冒RG产品太多，不得已在2017年更名）是由核工业北京地质研究院（国家级军工科研院）为国家军事工程在恶劣使用环境中应用而研发的建筑防水涂料。
        </p>
        <p style="text-indent: 2em">
            建筑防水产品根据形态分成两大类，一类是卷材，另一类是涂料，两类产品各有所长，一般相互不可替代。
        </p>
        <p class="headline">一、卷材的优点</p>
        <p>
            卷材是在工厂的生产线上成型，防水层的质量有较可靠的保证性。
        </p>
        <p>卷材有很好的强度性能。</p>
        <p>卷材施工通常是空铺，建筑物的基体因沉降变形和温差变形所产生的力，不会对全彩卷材构成破坏。</p>
        <p>卷材施工不受四季温差的影响，全年均可施工。</p>
        <p>卷材施工速度快，工期短。</p>
        <p class="headline">二、卷材的缺点</p>
        <p>1、卷材施工过程中有搭接缝，搭接缝是卷材防水层的薄弱环节，因此，整个防水层无法实现连续性和整体性。</p>
        <p>2、卷材在空铺条件下，一旦出现渗漏，在整个防水设防面积上，都存在这因窜水出现漏水的现象，因此，渗漏造成的损失会较大，渗漏点难以确定，修复难度大。</p>
        <p>3、对施工基面要求较高，特别是基面含水率，基面含水率过高过大，严重影响防水层施工质量，在地下工程中，因基面常处于潮湿状态，因而在施工条件与工期的矛盾。</p>
        <p>4、异型地面，施工难度较大。使用卷材封闭基体嵌入物根部（如穿墙管等）有较大的施工难度，因此，对防水工程质量会构成较大的影响。</p>
        <p>5、被粘接性插，如有后续施工会受到影响。</p>
        <p>6、施工存在一定火灾隐患。</p>
        <h4>防水卷材主要施工对象为：地下附加防水层、屋面防水。</h4>
        <table class="table_text">
            <thead>
                <tr>
                    <th rowspan="2">指标名称</th>
                    <th>卷材指标</th>
                    <th>LEAC防水材料指标</th>
                    <th rowspan="2">备注</th>
                </tr>
                <tr>
                    <th>数值（等级）</th>
                    <th>数值（汇编中报告页）</th>
                </tr>
            </thead>
            <tr>
                <td>拉力</td>
                <td>900N/50mm<br>4mm厚PYG（最优级）</td>
                <td>2292/50mm<br>（P41）</td>
                <td></td>
            </tr>
            <tr>
                <td>低温柔型</td>
                <td>-25℃<br>II型（最优级）</td>
                <td>-40℃（P49）</td>
                <td>卷材检测弯曲直径30mm<br>LEAC检测弯曲直径10mm<br>小直径弯曲使用性能更好</td>
            </tr>
            <tr>
                <td>抵抗结构温差、开裂、沉降变形能力</td>
                <td>无测试方法<br>II型（最优级）</td>
                <td>2mm厚可抵抗3mm以上的开裂和沉降<br>3mm厚可抵抗6mm以上的开裂和沉降</td>
                <td></td>
            </tr>
            <tr>
                <td>耐热性</td>
                <td>105℃<br>II型（最优级）</td>
                <td>-240℃/0.2h<br>（P48）</td>
                <td></td>
            </tr>
            <tr>
                <td>不透水性</td>
                <td>II型（最优型）</td>
                <td>-0.6MPa/180min<br>（P70）</td>
                <td>LEAC可用于60米地下工程防水</td>
            </tr>
            <tr>
                <td>耐紫外线老化（人工气候加速老化）</td>
                <td>保持率80%（下降不超过20%）为合格</td>
                <td>LEAC紫外线老化后指标不降反升（趋好）<br>（P70）</td>
                <td>LEAC国家设计标准给予“耐紫外线可用于外露工程”的说明，不设保护层可大幅降低造价卷材应设计紫外线屏蔽层</td>
            </tr>
            <tr>
                <td>与混凝土粘接性能</td>
                <td>粘接强度，热熔常温，干燥基面≥0.5pa，冷贴≥0.2mpa</td>
                <td>拉伸粘接前单独砂浆面≥0.1mpa，混凝土面≥土自身强度</td>
                <td>LEAC立面粘接可与混凝土形成一体化，卷材立墙粘接可靠性很低</td>
            </tr>
            <tr>
                <td>与混凝土基面粘接性能</td>
                <td>不能在非混凝土基面施工</td>
                <td>可在彩、铝合金、玻璃、阳光版、木结构、钢结构及各种防水材料表面实施防水和复合方式</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    涂料的特点
</div>
<div class="main">
    <div class="trait">
        <div style="margin-right: 8px">
            <p>1、涂料的优点</p>
            <p>在整个需要防水设防的基面上，防水层能形成一个连续的无任何接缝的整体防水层。</p>
            <p>可以在几何形状复杂基面上方便的进行施工，并能保证防水层的可靠性，可有效的封闭基体嵌入物。</p>
            <p>水性防水涂料可在潮湿基面施工，无火灾隐患。</p>
            <p>在全粘接条件下，如发生渗漏往往是防水层被破坏处发生的点渗漏，造成的损失较小，易修复。</p>
        </div>
        <div>
            <p>2、涂料的缺点</p>
            <p>防水层现场成形，防水层质量受人为施工因素影响较大。</p>
            <p>涂料在全粘接条件下，基体因沉降或温差出现变形时，防水层易被拉裂。</p>
            <p>因耐紫外线老化等原因，一般不作外露使用。</p>
            <p>水性涂料在零度以下不能施工。溶剂型涂料有较大毒性，短其污染环境，毒害施工人员，并存在长期污染使用（居住）环境的可能。极易燃，火灾隐患较严重。因此，许多城市限制在地下和室内防水工程中使用。</p>
            <p>防水涂料主要施工对象为：厨厕间的防水。</p>
        </div>
    </div>
    <p style="text-align: center;margin: 14px;font-weight: 600">防水涂料主要施工对象为：厨厕间防水</p>
</div>
<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    中核LEAC（原RG）防水涂料的特点
</div>
<div class="main" style="font-size: 14px;line-height: 20px">

    <p >
        <img src="/image/w3.jpg" align="right" hspace="8" vspace="8" style="width: 400px">
        <p style="font-size: 28px;line-height: 62px;">LEAC防水涂料的优点</p>
        LEAC防水涂料集卷材与涂料较多优势为一身，是目前国内防水材料中技术指标涵盖最全，应用范围最广泛，综合性价比较高的产品。LEAC防水涂料进行过37项性能技术指标的测试。2007年国家针对LEAC防水涂料的先进性、独特性、可靠性编制了国家建筑标准设计图集07CJ10（2017年图集更名为17CJ10-1）。<br>
        极好的耐水性、环保性，LEAC防水涂料是国家绿色十环认证产品，有一定的耐腐蚀性功能，是各类水池内防水，弹性体材料的首选，可用于消防水池、饮用水池、泳池、景观水池，污水处理厂等各类水池的内、外防水，涂膜可长期裸露浸泡在水中，不会吸水溶胀，无需设计保护层，可用于饮用水工程，能耐住污水的长期腐蚀（特种工业污水除外）。在水池类内防水工程中，有极好的适用性和成本优势。<br>
        弹性好（内增塑），抗裂性强，适合不稳定基体的防水，按国标GB18242-2008《弹性体改性沥青防水卷材》检测。2毫米厚度的涂膜最大拉力大于2292N/50mm。经“0”挡伸长测试，可抵抗住基体4毫米的开裂。用于地下防水工程的内、外防水时具有可靠性和经济性。<br>
        高性能、低用量：在厨厕间防水中，在符合国家设计标准的条件下，可比传统产品降低产品使用数量，与PVC塑料有很好的粘接性能，被粘接性能良好，有利于下一步的装修与装饰施工，并符合“民用建筑室内环境污染控制规范”的要求。<br>
        LEAC防水涂料是以抗老化性很好的专用乳液和稳定性极好的无机材料为主构成的产品，它与沥青橡胶等有机类原料生产的防水材料相比，其使用中的稳定性、耐候性、耐紫外线老化性，均有较大的提高，使用寿命长，可在屋面长期裸露使用，无需设计保护层。LEAC防水涂料，通过了4000小时紫外线老化极限检测。17CJ10-1国家设计图集给予了“耐紫外线可用于外露工程”的说明。特别在异型屋面防水、旧屋面防水修复中，成本优势十分明显。
    </p>
</div>
</body>
</html>