<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>建筑防水产品根本形态</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style type="text/css">
        .trait{
            width: 100%;
            height: 200px;
            /*background-color: red;*/
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            margin-right: 10px;
            font-weight: 600;
        }
        .trait div{
            border: solid 1px #000;
            width: 468px;
        }
        .trait div p{
            line-height: 24px;
            padding-left: 4px;
            font-size: 14px;
        }
        .div_img{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            height: 354px;
        }
        .div_img div{
            width: 470px;
            overflow: hidden;
        }
        .text_div{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: 746px;
            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
        }
        .text_div div{
            width: 448px;
            border: 1px solid gray;
            padding: 10px;
        }

    </style>
</head>
<body>
<div class="top">
    <img src="/image/3-08-a_01.jpg" >
</div>
<div class="navigation">
    建筑防水产品根本形态
</div>
<div class="main">
    <div class="main_content">

        <p style="text-indent: 2em">
            中核集团北京北研科技发展有限公司目前在全国三千多家防水生产企业中，隶属于核工业北京地质研究院，是唯一一家中央直属军工技术转民用生产的国有企业。LEAC防水涂料（原中核集团驰名商标RG防水涂料，由于市场假冒RG产品太多，不得已在2017年更名）是由核工业北京地质研究院（国家级军工科研院）为国家军事工程在恶劣使用环境中应用而研发的建筑防水涂料。
        </p>
        <p style="text-indent: 2em">
            建筑防水产品根据形态分成两大类，一类是卷材，另一类是涂料，两类产品各有所长，一般相互不可替代。
        </p>
        <p class="headline">一、卷材的优点</p>
        <p>
            卷材是在工厂的生产线上成型，防水层的质量有较可靠的保证性。
        </p>
        <p>卷材有很好的强度性能。</p>
        <p>卷材施工通常是空铺，建筑物的基体因沉降变形和温差变形所产生的力，不会对全彩卷材构成破坏。</p>
        <p>卷材施工不受四季温差的影响，全年均可施工。</p>
        <p>卷材施工速度快，工期短。</p>
        <p class="headline">二、卷材的缺点</p>
        <p>1、卷材施工过程中有搭接缝，搭接缝是卷材防水层的薄弱环节，因此，整个防水层无法实现连续性和整体性。</p>
        <p>2、卷材在空铺条件下，一旦出现渗漏，在整个防水设防面积上，都存在这因窜水出现漏水的现象，因此，渗漏造成的损失会较大，渗漏点难以确定，修复难度大。</p>
        <p>3、对施工基面要求较高，特别是基面含水率，基面含水率过高过大，严重影响防水层施工质量，在地下工程中，因基面常处于潮湿状态，因而在施工条件与工期的矛盾。</p>
        <p>4、异型地面，施工难度较大。使用卷材封闭基体嵌入物根部（如穿墙管等）有较大的施工难度，因此，对防水工程质量会构成较大的影响。</p>
        <p>5、被粘接性插，如有后续施工会受到影响。</p>
        <p>6、施工存在一定火灾隐患。</p>
        <h4>防水卷材主要施工对象为：地下附加防水层、屋面防水。</h4>
        <table class="table_text">
            <thead>
                <tr>
                    <th rowspan="2">指标名称</th>
                    <th>卷材指标</th>
                    <th>LEAC防水材料指标</th>
                    <th rowspan="2">备注</th>
                </tr>
                <tr>
                    <th>数值（等级）</th>
                    <th>数值（汇编中报告页）</th>
                </tr>
            </thead>
            <tr>
                <td>拉力</td>
                <td>900N/50mm<br>4mm厚PYG（最优级）</td>
                <td>2292/50mm<br>（P41）</td>
                <td></td>
            </tr>
            <tr>
                <td>低温柔型</td>
                <td>-25℃<br>II型（最优级）</td>
                <td>-40℃（P49）</td>
                <td>卷材检测弯曲直径30mm<br>LEAC检测弯曲直径10mm<br>小直径弯曲使用性能更好</td>
            </tr>
            <tr>
                <td>抵抗结构温差、开裂、沉降变形能力</td>
                <td>无测试方法<br>II型（最优级）</td>
                <td>2mm厚可抵抗3mm以上的开裂和沉降<br>3mm厚可抵抗6mm以上的开裂和沉降</td>
                <td></td>
            </tr>
            <tr>
                <td>耐热性</td>
                <td>105℃<br>II型（最优级）</td>
                <td>-240℃/0.2h<br>（P48）</td>
                <td></td>
            </tr>
            <tr>
                <td>不透水性</td>
                <td>II型（最优型）</td>
                <td>-0.6MPa/180min<br>（P70）</td>
                <td>LEAC可用于60米地下工程防水</td>
            </tr>
            <tr>
                <td>耐紫外线老化（人工气候加速老化）</td>
                <td>保持率80%（下降不超过20%）为合格</td>
                <td>LEAC紫外线老化后指标不降反升（趋好）<br>（P70）</td>
                <td>LEAC国家设计标准给予“耐紫外线可用于外露工程”的说明，不设保护层可大幅降低造价卷材应设计紫外线屏蔽层</td>
            </tr>
            <tr>
                <td>与混凝土粘接性能</td>
                <td>粘接强度，热熔常温，干燥基面≥0.5pa，冷贴≥0.2mpa</td>
                <td>拉伸粘接前单独砂浆面≥0.1mpa，混凝土面≥土自身强度</td>
                <td>LEAC立面粘接可与混凝土形成一体化，卷材立墙粘接可靠性很低</td>
            </tr>
            <tr>
                <td>与混凝土基面粘接性能</td>
                <td>不能在非混凝土基面施工</td>
                <td>可在彩、铝合金、玻璃、阳光版、木结构、钢结构及各种防水材料表面实施防水和复合方式</td>
                <td></td>
            </tr>
        </table>
    </div>
    <h4>防水卷材主要施工对象为：地下附加防水层、屋面防水。</h4>
    <div class="main_content">
        <h4>防水卷材（SBS）与LEAC（RG）防水材料性能对比表（二）</h4>
        <table class="table_text">
            <thead>
                <tr>
                    <td rowspan="2" style="width: 25%">指标名称</td>
                    <td style="width: 25%">卷材指标</td>

                    <td style="width: 25%">LEAC防水材料指标</td>

                    <td rowspan="2"  style="width: 25%">备注</td>
                </tr>
                <tr>
                    <td>数值（等级）</td>
                    <td>数值（汇编中报告页）</td>
                </tr>


            </thead>
            <tbody>
                <tr>
                    <td>长期浸水性能</td>
                    <td>平面设置保护层的条件下可用于长期浸水工程立面<br>不可以</td>
                    <td>可在水中长期裸露浸泡使用，平面、立面均无需设置保护层。</td>
                    <td>地下消防水池各类水景工程；架空水工程LEAC均有很好的可靠性和经济性</td>
                </tr>
                <tr>
                    <td>耐腐蚀性能</td>
                    <td>无耐腐蚀性能</td>
                    <td>液态有微防腐，气态有重防腐功能（P52）</td>
                    <td></td>
                </tr>
                <tr>
                    <td>环保及卫生性能</td>
                    <td>热熔施工污染环境不可用与食品级</td>
                    <td>通过食品的卫生监测，可直接用于饮用水工程无VOS释放(P57)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>低温施工性能</td>
                    <td>-10℃施工，工程质量隐患较多</td>
                    <td>-10℃施工不影响施工质量(P73)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>雨季施工性能</td>
                    <td>雨季不易施工，基面含水率高于9%时不允许</td>
                    <td>可在湿饱和基面施工（擦去明水）。雨季不影响施工（雨天除外）。</td>
                    <td></td>
                </tr>
                <tr>
                    <td>安全性</td>
                    <td>施工动用明火有火灾隐患，多个城市有限制使用规定</td>
                    <td>储运、施工、暴露使用均无火灾隐患，是高危火险环境的首选材料</td>
                    <td></td>
                </tr>
                <tr>
                    <td>施工效率</td>
                    <td>4人作业组，每班可完成300~400㎡施工</td>
                    <td>4人作业组，每班可完成2500~3000㎡施工（喷涂工艺）</td>
                    <td></td>
                </tr>
                <tr>
                    <td>使用年限</td>
                    <td>有机材料为主耐老化性能差</td>
                    <td>无机材料为主耐老化性能优</td>
                    <td>最长已有26年暴露使用的在用工程实例</td>
                </tr>
                <tr>
                    <td>工程造价</td>
                    <td></td>
                    <td>II型防水不高于卷材。<br>I级防水有较大幅度的造价优势。通过产品的优势性能可简化设计结构，较大幅度降低工程造价。</td>
                    <td>LEAC与卷材造价对比，应在产品合格，设计符合国家标准的条件下进行。</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    涂料的特点
</div>
<div class="main">
    <div class="trait">
        <div style="margin-right: 8px">
            <p>1、涂料的优点</p>
            <p>在整个需要防水设防的基面上，防水层能形成一个连续的无任何接缝的整体防水层。</p>
            <p>可以在几何形状复杂基面上方便的进行施工，并能保证防水层的可靠性，可有效的封闭基体嵌入物。</p>
            <p>水性防水涂料可在潮湿基面施工，无火灾隐患。</p>
            <p>在全粘接条件下，如发生渗漏往往是防水层被破坏处发生的点渗漏，造成的损失较小，易修复。</p>
        </div>
        <div>
            <p>2、涂料的缺点</p>
            <p>防水层现场成形，防水层质量受人为施工因素影响较大。</p>
            <p>涂料在全粘接条件下，基体因沉降或温差出现变形时，防水层易被拉裂。</p>
            <p>因耐紫外线老化等原因，一般不作外露使用。</p>
            <p>水性涂料在零度以下不能施工。溶剂型涂料有较大毒性，短其污染环境，毒害施工人员，并存在长期污染使用（居住）环境的可能。极易燃，火灾隐患较严重。因此，许多城市限制在地下和室内防水工程中使用。</p>
            <p>防水涂料主要施工对象为：厨厕间的防水。</p>
        </div>
    </div>
    <p style="text-align: center;margin: 14px;font-weight: 600">防水涂料主要施工对象为：厨厕间防水</p>
</div>
<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    中核LEAC（原RG）防水涂料的特点
</div>
<div class="main" style="font-size: 14px;line-height: 20px;font-weight: 600">

    <p >
        <img src="/image/w3.jpg" align="right" hspace="8" vspace="8" style="width: 400px">
        <p style="font-size: 28px;line-height: 62px;">LEAC防水涂料的优点</p>
        LEAC防水涂料集卷材与涂料较多优势为一身，是目前国内防水材料中技术指标涵盖最全，应用范围最广泛，综合性价比较高的产品。LEAC防水涂料进行过37项性能技术指标的测试。2007年国家针对LEAC防水涂料的先进性、独特性、可靠性编制了国家建筑标准设计图集07CJ10（2017年图集更名为17CJ10-1）。<br>
        极好的耐水性、环保性，LEAC防水涂料是国家绿色十环认证产品，有一定的耐腐蚀性功能，是各类水池内防水，弹性体材料的首选，可用于消防水池、饮用水池、泳池、景观水池，污水处理厂等各类水池的内、外防水，涂膜可长期裸露浸泡在水中，不会吸水溶胀，无需设计保护层，可用于饮用水工程，能耐住污水的长期腐蚀（特种工业污水除外）。在水池类内防水工程中，有极好的适用性和成本优势。<br>
        弹性好（内增塑），抗裂性强，适合不稳定基体的防水，按国标GB18242-2008《弹性体改性沥青防水卷材》检测。2毫米厚度的涂膜最大拉力大于2292N/50mm。经“0”挡伸长测试，可抵抗住基体4毫米的开裂。用于地下防水工程的内、外防水时具有可靠性和经济性。<br>
        高性能、低用量：在厨厕间防水中，在符合国家设计标准的条件下，可比传统产品降低产品使用数量，与PVC塑料有很好的粘接性能，被粘接性能良好，有利于下一步的装修与装饰施工，并符合“民用建筑室内环境污染控制规范”的要求。<br>
        LEAC防水涂料是以抗老化性很好的专用乳液和稳定性极好的无机材料为主构成的产品，它与沥青橡胶等有机类原料生产的防水材料相比，其使用中的稳定性、耐候性、耐紫外线老化性，均有较大的提高，使用寿命长，可在屋面长期裸露使用，无需设计保护层。LEAC防水涂料，通过了4000小时紫外线老化极限检测。17CJ10-1国家设计图集给予了“耐紫外线可用于外露工程”的说明。特别在异型屋面防水、旧屋面防水修复中，成本优势十分明显。
    </p>
    <br>
    <p style="font-size: 20px;">某军工研究院实验大楼1989年完工的暴露屋面，使用至今完好无损，上设有通风设备，设备间，操作工人每日需通过屋面开关设备</p>
    <div class="div_img">
        <div><img src="/image/e2.jpg"></div>
        <div><img src="/image/e4.jpg"></div>
    </div>
    <p>
        与常用建材粘接力强，抗剪切强度大，应用范围广泛。可应用于彩钢板、阳光板、玻璃等特种材料屋面的防水，及木结构、玻璃幕墙等各种外墙的防水及开裂修复。可满足轻型墙体结构，在实施防水后，外贴重量较大的厚型石材的设计要求。
    </p>

    <p>低温柔度可在高寒环境使用，可达－40，高温稳定性170，0.5小时不流淌， 100，4小时不发粘，可用于桥梁防水施工。</p>
    <p>不论施工基面几何形状多么复杂。LEAC防水涂料施工的防水层，都能形成一个连续的整体，无任何搭接缝等薄弱环节。可非常有效的封闭穿墙管根及基体嵌入物根部。</p>
    <p>配合使用LEAC-24防水装饰涂料，可设计成色彩亮丽的彩色防水装饰层。</p>
    <p>LEAC 防水涂料性价比高，在产品质量符合国家标准和工程设计符合国家建筑设计标准两大前提下，LEAC防水涂料与传统产品相比具有较大的成本优势。</p>
</div>
<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    LEAC防水涂料与普通JS的对比
</div>
<div class="main" style="font-size: 14px;line-height: 20px;font-weight: 600">
    <p>JS是我国防水行业为了解决室内施工的环保问题，而推向市场的一种水性环保型防水材料。是传统溶剂型聚氨酯类材料室内环境防水施工的更新替代材料，但是，厨厕间的防水层使用环境良好，它跨度小，整体性好，温差变化小，这就决定JS产品技术指标相对较低，因此，JS通常只用于厨厕间防水。</p>
    <p>JS产品耐水性差，抗紫外线能力低，在常期浸泡或含水土层中长期使用，会出现吸水溶胀现象。暴露在紫外线照射下使用条件下，其中的许多聚合物分子结构链会出现断裂，因此，建设部有文件明确不能裸露使用，它也很难达到地下防水工程验收规范的要求。</p>
    <p>LEAC防水涂料本身就是为在恶劣环境设计的产品，有抗紫外线、耐水性等优秀指标，因此，防水涂料可以在地下和屋面等工程中使用。</p>
</div>

<div class="navigation" style="margin-top: 10px ;margin-bottom: 8px">
    LEAC防水涂料与传统材料在具体工程中的应用对比
</div>
<div class="main" style="font-size: 14px;line-height: 20px;font-weight: 600">
    <div class="text_div">
        <div style="margin-right: 10px">
            <p style="width: 100px;background-color: gainsboro">1、水池类工程</p>
            <p>水池类工程一般做内防水设计，常见的典型工程为消防水池。消防水池通常建于建筑物的最底层，属地下部分。一般呈长立方体形态，上有顶盖，设有两个通气孔。</p>
            <p>若使用卷材类产品，首先，立墙本身就很难粘贴，再加上立墙潮湿。因此施工难度大，工程质量难以保证。其次，即使将卷材粘贴到立墙上，也需要做水泥砂浆保护层，由于卷材的被粘接性能较差，所以保护层很难施工。此外，增加保护层，也会增加工程造价。最后，水池有进排水系统，卷材封闭穿墙管根部性能较差。因此，水池类内防水一般不选用卷材。</p>
            <p>若使用涂料类产品，常用的有聚氨酯和JS两大类。聚氨酯防水涂料又分为溶剂型和水性两种产品。聚氨酯耐水性很好，无需做保护层，但是溶剂型聚氨酯有很大的有毒挥发物，在通风不好的情况下会至人于死地，并且有极大的火灾隐患，因此，北京等大城市政府已明令禁止在地下工程中使用。而水性聚氨酯属环保产品，虽然没有上述问题，但它的成膜是靠失水（挥发水分）固化的，在通风不好，湿度较大的条件下，可能会出现固化时间过长，甚至较长时间固化不了的现象。</p>
            <p>JS防水涂料，目前国内多数生产企业没有完全解决耐水性不好的问题，涂膜在水中长期浸泡，会出现吸水溶涨（俗称泡发了的现象）。吸水溶涨后，防水涂膜会脱落。</p>
            <p>LEAC防水涂料，可在潮湿基面施工。只挥发水分，不挥发有毒有害物质，产品环保，为绿色十环认证产品。涂料成膜后，可长期在水中裸露浸泡，不会出现吸水溶涨现象。因此，不需要设计保护层，可降低工程造价，并且有很好的封闭穿墙管根的性能。所以，从适用性、经济性、可施工性角度来说，在水池内防水设计中，LEAC防水涂料应为首选。</p>
        </div>
        <div>
                <p style="width: 100px;background-color: gainsboro">2、地下工程</p>
                <p>地下防水工程，通常是以自防水混凝土为主体防水层，其他防水材料作为附加防水层设防。附加防水层是在主防水层因沉降、温差或自身结构出现微缺陷时发挥作用，防止渗漏，因此，附加防水层应选择弹性体防水材料。</p>
                <p>在地下弹性体附加防水层的设计中，常用的卷材有SBS改性沥青类和三元乙丙橡胶类两种。SBS为热熔、条粘施工工法，三元乙丙为冷粘施工工法。</p>
                <p>这些卷材本身都是性能非常好的材料。但在地下附加防水层的施工中存在着以下缺陷：首先，立墙粘接难度比平面大，并且对粘接面有较高的含水率要求。地下工程中基面潮湿是普通存在的现象。由于下雨（雪）及施工环境处于基坑内湿度大，基面易吸水等原因与工期要求的矛盾，很难保证在整个粘接施工过程中，基面含水率都能符合粘接要求。其次，搭接缝在立墙施工中出现问题的概率比平面施工大。因此，SBS为了可靠起见，往往要设计成3毫米厚两层错缝、热溶粘接，这样，就大大增加了工程成本。最后，现代建筑地下部分穿墙管众多，卷材在封闭管根的施工，是有较大难度的。聚氨酯涂料和JS涂料在水池工程的缺陷同样存在于地下附加层防水层工程，一般不被选用。</p>
                <p>LEAC防水涂料以可在潮湿基面施工，防水层呈连续无接缝形态，封闭穿墙管根可靠方便的性能优势，及按国家建筑标准设计的成本优势，因此，LEAC防水涂料在该防水领域有着较大的竞争优势。</p>
                <img  style="width: 278px; height: 128px" src="/image/e3.jpg">
                <img style="height: 128px" src="/image/e1.jpg">
        </div>
    </div>
    <div>
        <p style="width: 112px;background-color: gainsboro">3、厨厕间排水</p>
        <p>厨厕间防水因施工面跨度小、几何形状复杂，一般采用防水涂料施工。常用其他材料有聚氨酯防水涂料和JS防水涂料。</p>
        <p>溶剂型聚氨酯毒性较大，污染较严重，影响室内环境验收及建成后的使用环境，加之火灾隐患在大城市已禁止在室内环境使用。</p>
        <p>水性聚氨酯被粘接性能较差，不利于下一步装修设计施工。</p>
        <p>LEAC防水涂料的产品环保，施工速度快（成膜时间比JS短），粘接力强，被粘接性能好，在轻型墙壁体上使用，可提高对装饰层的承载能力。按国家设计标准要求，最多可比其他涂料降低20%的用量，因此，有较高的性价比。</p>
    </div>
    <div>
        <p style="width: 100px;background-color: gainsboro">4、屋面工程</p>
        <p>屋面防水工程（含地下室顶板防水工程）。</p>
        <p>屋面防水工程设计要求一般为级防水。两道防水层设防，LEAC防水涂料1.5mm厚加1.5mm厚双叠层级防水结构，可靠性极高。LEAC防水涂料耐冻融性好，低温柔度最低可达-40度，这在其他防水材料中是少见的，抗紫外线老化能力强，国家设计图集（17CJ10-1）给予了“耐紫外线可用于外露工程”的说明，成膜后强度大，可根据使用情况也可不设计保护层，耐老化使用年限长，在异型屋面、坡屋面上有施工优势，还可对防水层进行彩色装饰。</p>
    </div>
    <br><br><br>
    <p>许多设计师习惯在屋面防水中选择一道卷材、一道涂料的设计方案，以达到优势互补的目地。</p>
    <p>LEAC防水涂料复配高分子卷材所形成成的双道防水层的级防水结构（<a href="/knowledge.html" target="_blank" style="color: red">见17CJ10-1 LEAC丙烯酸聚合物水泥防水涂料应用构造</a>），一个即是具有有可靠性又具有经济性的选择。</p>
    <p>LEAC防水涂料弥补了高分子卷材防水层不连续；搭接缝刚性连接，在基体开裂时，搭接缝易漏水；不耐紫外线等缺陷。充分发挥高分子卷材高强度、耐植物根刺，低工程造价的优势。</p>
    <p>总之，在屋面防水中，不论是单独使用LEAC防水涂料还是复配高子卷材使用都能取得可靠性加经济性的效果。</p>
</div>
</body>
</html>