<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精品范例</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <style type="text/css">
        .main_item{
            /*border: solid 1px red;*/
            /*height: 100px;*/
            width: 470px;
            box-sizing:border-box;
            -moz-box-sizing:border-box; /* Firefox */
            -webkit-box-sizing:border-box; /* Safari */
            padding: 10px;
        }
        .main_item img{
            width: 100%;
            height: 250px;
        }
    </style>
</head>
<body>
<div class="top" style="height: 228px">
    <img src="/image/3-05-a_01.jpg" style="width: 1024px">
</div>
<div class="navigation">
    精品范例
</div>
<div class="main" style="display: flex;flex-direction: row;flex-wrap: wrap;border-radius: 6px; border: solid 1px #f3f3f3;background-color: #f3f3f3">

    <div class="main_item">
        <img src="/image/j1.png">
    </div>
    <div class="main_item">
        <img src="/image/j2.jpg">
    </div>
    <div class="main_item">
        <img src="/image/j3.jpg">
    </div>
    <div class="main_item">
        <img src="/image/j4.jpg">
    </div>
    <div class="main_item">
        <img src="/image/j5.jpg">
    </div>
    <div class="main_item">
        <img src="/image/j6.jpg">
    </div>
</div>
</body>
</html>